[submodule "_r01lib_frdm_mcxa153/source"]
	path = library_and_template_projects/_r01lib_frdm_mcxa153/source
	url = https://github.com/teddokano/r01lib.git
[submodule "_r01lib_frdm_mcxa156/source"]
	path = library_and_template_projects/_r01lib_frdm_mcxa156/source
	url = https://github.com/teddokano/r01lib.git
[submodule "_r01lib_frdm_mcxn236/source"]
	path = library_and_template_projects/_r01lib_frdm_mcxn236/source
	url = https://github.com/teddokano/r01lib.git
[submodule "_r01lib_frdm_mcxn947/source"]
	path = library_and_template_projects/_r01lib_frdm_mcxn947/source
	url = https://github.com/teddokano/r01lib.git
[submodule "library_and_template_projects/_r01lib_frdm_mcxc444/source"]
	path = library_and_template_projects/_r01lib_frdm_mcxc444/source
	url = https://github.com/teddokano/r01lib.git
